.search-section{
    /* background: red; */
    margin: 10px 0px;
}
.search form{
    background: var(--search);
    margin: 0px 10px;
    padding: 7px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.search form input{
    border: none;
    background: none;
    outline: none;
    flex: 1;
    padding: 0px 20px 0px 10px;
    font-size: 1rem;
}
.search svg{
    margin-left: 20px;
    font-size: 1rem;
}