.filters-section{
    margin: 10px 0px;
    display: flex;
    padding: 0px 10px;
    overflow: scroll;
    font-family: var(--font-family);
}
.filters-section::-webkit-scrollbar{
    display: none;
}
.filters-section .filters{
    margin: 10px 6px 0px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgb(255, 224, 167);
    padding: 4px 10px;
    border-radius: 20px;
    color: rgb(158, 102, 0);
    text-transform: capitalize;
    font-size: .9rem;
}
.filters-section .filters span{
    cursor: pointer;
    transition:  all .3s ease;
} 
.filters-section .filters.active{
    background: var(--orange);
    color: var(--white);
}
.filters-section .filters img{
    max-width: 20px;
    border-radius: 100%;
}